*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

/* header  */
header{
    height: 50px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    line-height: 50px;
}


.logo{
    height: 24px;
    vertical-align: sub;
    margin: 0 10px;
    display: inline-block;
    line-height: 50px;
}

/* menù */
nav{
    display: inline-block;
    height: 50px;
    width: calc(100% - 220px);
    line-height: 50px;
}

.prima-parte,
.seconda-parte{
    height: 50px;
    display: inline-block;
}

.seconda-parte{
    float: right;
}

.prima-parte li,
.seconda-parte li{
    list-style-type: none;
    display: inline-block;
    
}

nav ul li a{
    color: black;
    display: inline-block;
    font-size: 15px;
    padding: 0 20px;
}

nav ul li a:hover{
    background-color: rgb(244, 244, 244);
}

.tasto-inizia{
    background-color: rgb(5, 67, 255);
    width: 58px;
    padding: 5px 14px;
    font-size: 13px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
}
/* fine header  */


main{
    width: 100%;
    height: 50vh;
    position: relative;
    top: 50px;
}    

/* prima sezione  */
.prima-sezione{
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
    background-color: rgb(165, 197, 225);
}

#container{
    width: 85%;
    margin: 0 auto;
}

#container::after{
    content: "";
    display: table;
    clear: both;
}

#container h1{
    font-size: 67px;
}

#container div{
    float: left;
    width: 26%;
}

#container div p{
    font-size: 14px;
    line-height: 20px;
    padding: 40px 0 25px 0;
}

#container div a{
    padding: 5px 20px;
}

#container div span{
    display: block;
    font-size: 12px;
    margin: 20px 0 30px 0;
}

#container div .fas{
    font-size: 30px;
    display: inline-block;
    color: black;
}

#container img{
    width: 74%;
    position: relative;
    top: 50px;
}
/* fine prima sezione  */

.seconda-sezione,
.terza-sezione,
.quarta-sezione{
    width: 75%;
    margin: 0 auto;
}

#titolo-seconda{
    margin-top: 160px;
    margin-bottom: 80px;
    font-size: 35px;
}

.input-radio{
    margin: 30px 0;
}

.input-radio label{
    padding-right: 20px;
}

.colonna,
.colonna-centrale{
    margin-top: 30px;
    float: left;
    width: 30%;
}
/* clearfix  */
.tre-colonne::after,
.terza-sezione::after,
.quarta-sezione::after{
    content: "";
    display: table;
    clear: both;
}

.colonna-centrale{
    margin: 30px 5% 0 5%;
}


.titolo-colonna{
    width: 100%;
    border: 2px solid rgb(244, 244, 244);
    line-height: 40px;
    text-align: center;
    font-size: 17px;
}

.corpo-colonna{
    width: 100%;
    border-right: 2px solid rgb(244, 244, 244);
    border-bottom: 2px solid rgb(244, 244, 244);
    border-left: 2px solid rgb(244, 244, 244);
    padding: 20px 30px;
    min-height: 900px;
    margin-bottom: 50px;
}

.h2-colonna{
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.mensilita{
    font-size: 13px;
    color: #777;
    padding: 15px 0 20px 0;
}

.corpo-colonna ul li{
    list-style-type: none;
}

.fas.fa-check{
    display: inline-block;
    color: rgb(0, 59, 246);
    font-size: 12px;
    padding-right: 2px;
}

.far.fa-user,
.far.fa-folder,
.fas.fa-pencil-alt{
    display: inline-block;
    padding-right: 2px;
}

.testo-liste{
    width: calc(100% - 20px);
    vertical-align: top;
    display: inline-block;
    font-size: 14px;
    padding-bottom: 20px;
}

.lista{
    font-size: 14px;
    padding-bottom: 20px;
}

.tasto-prova{
    width: 100%;
    background-color: rgb(5, 67, 255);
    padding: 7px 0;
    font-size: 13px;
    text-align: center;
    color: #fff;
    margin: 20px 0;
    display: inline-block;
}

.testo-acquista{
    font-size: 14px;
    margin: 20px 0 30px 0;
    display: inline-block;
}

.testo-acquista a{
    color: rgb(5, 67, 255);
}

hr{
    width: 20%;
    border: 1px solid rgb(244, 244, 244);
    margin-bottom: 30px;
}

.corpo-colonna h5,
.corpo-finale h5{
    font-size: 17px;
}

.h5-list{
    padding: 10px 0 25px 0;
}

.corpo-finale{
    width: 100%;
    border-right: 2px solid rgb(244, 244, 244);
    border-bottom: 2px solid rgb(244, 244, 244);
    border-left: 2px solid rgb(244, 244, 244);
    padding: 20px 30px;
}

.corpo-finale p{
    font-size: 15px;
    padding: 40px 0 10px 0;
}

.seconda-sezione{
    margin-bottom: 50px;
}
/* fine seconda sezione  */

/* terza sezione  */

.terza-sezione{
    padding-top: 100px;
}

#foto-grande{
    float: left;
    width: 55%;
    margin-right: 7%;
}

#foto-grande img,
.colonna-foto img,
.colonna2-foto img{
    width: 100%;
}

#testo-partner{
    width: 38%;
    float: left;
    position: relative;
    top: 40px;
}

#testo-partner h3{
    font-size: 25px;
    margin-bottom: 20px;
}

#testo-partner p{
    line-height: 30px;
    margin-bottom: 30px;
}

#testo-partner div a{
    border: 1px solid #000;
    padding: 7px 20px;
    color: #000;
}
/* main sezione 6 foto  */
.quarta-sezione{
    margin: 80px auto;
}

.colonna-foto,
.colonna2-foto{
    margin-top: 40px;
    margin-bottom: 40px;
    float: left;
    width: 32%;
}

.colonna2-foto{
    margin-left: 2%;
    margin-right: 2%;
}

.colonna-foto h3,
.colonna2-foto h3{
    font-size: 25px;
    margin: 20px 0;
}

.colonna-foto p,
.colonna2-foto p{
    font-size: 18px;
    line-height: 22px;
}

.quinta-sezione{
    width: 75%;
    margin: 80px auto;
    padding-bottom: 50px;
}

.quinta-sezione div{
    width: 32%;
    padding-bottom: 30px;
}

.quinta-sezione div h3{
    font-size: 25px;
    line-height: 40px;
}

.quinta-sezione span a{
    text-decoration: underline;
    color: rgb(5, 67, 255);
}







/* footer  */
footer{
    background-color: #000;
    margin-top: 30px;
}

#fine-pagina{
    width: 85%;
    height: 400px;
    margin: 50px auto;
    background-color: aqua;
}

.col-foot{
    float: left;
    width: 20%;
}
